html, body {
  margin: 0;
  height: 100%;
}

#arcade-section {
  width: 100%;
  /*min height se usa para q sea responsivo*/
  min-height: 100vh;
  /*se usa para crear una flexbox*/
  /*<https://www.w3schools.com/csS/css3_flexbox.asp>*/
  display: flex;
  /*alineación horizontal*/
  justify-content: center;
  /*alineacion vertical*/
  align-items: flex-start;
  background: #000; 
}

#arcade-container {
  position: static;
  width: min(90vw, 600px); /* escala responsiva */
  aspect-ratio: 3 / 5;    /* proporción del PNG */
}

#arcade-img {
  height: 50%;
  width : auto;
  display: block;
  z-index: 2;
  position: relative;
  pointer-events: none;
  opacity: 1; /* corregido: antes era 'opacity=0.3' */
}

/* iframe = pantalla */
#arcade-screen {
  position: absolute;
  z-index: 1;
  border: none;
  background: black;
  overflow: hidden;

  /* AJUSTA ESTO A TU PNG */
  left: 25%;
  top: 26%;
  width: 64%;
  height: 60%;
}
