body {
  margin: 0;
  padding: 0;
  background-color: #cfcfcf;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.ficha {
  display: flex;
  background-color: #d9d9d9;
  width: 80%;
  height: 60vh;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  font-family: 'Courier New', Courier, monospace;

}

/* Columna izquierda */
.columna-izquierda {
  flex: 1.2;
  background-color: #8fa199;
  margin: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.columna-izquierda img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.proyectos-lista {
  list-style: none;
  padding: 0;
  margin: 0;
}

.proyectos-lista li {
  padding: 10px 0;
  border-bottom: 1px solid #000;
  cursor: pointer;
  transition: background-color 0.2s;
}

.proyectos-lista li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Columna derecha */
.columna-derecha {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2%;
  font-family: 'Courier New', Courier, monospace;
  overflow-y: scroll;;
}

/* Título con número */
.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-weight: bold;
}

/* Filas con texto */
.linea {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  padding: 6px 0;
}

/* Footer */
.footer {
  text-align: left;
  font-style: italic;
}
